<h1>Cosmetic categories</h1>

<table class="table table-hover">
  <% @main_categories.each do |main_cat| %>
  <thead>
    <tr>
      <th scope="col"> <%= main_cat.name %> </th>
    </tr>
  </thead>
    <% main_cat.subcategories.each do |sub_cat| %>
      <tbody>
        <tr>
          <th scope="row"> <%= link_to sub_cat.name, subcategory_path(sub_cat), class: "subcategory-link" %>
            <span class="badge badge-primary badge-pill"> <%= sub_cat.products.count %> </span>
          </th>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>

<!-- <% @subcategories.each do |subcat| %>
  <%= subcat.name %>
<% end %> -->

<%= link_to "Add new subcategory", new_subcategory_path %>
