<div class="row">
  <div class="col-md-12">
    <h1 id="allingredniets">Currently in our database there are <%= @all_ingredients %> cosmetic and perfume ingredients </h1>
  </div>
</div>

<h2 class="ingredients">Ingredients sorted by letter</h2>

<div class="row">
  <% (1..9).each do |num|%>
  <%= link_to num, ingredients_path({sign: num}), class: 'ingredients-filter-letter' %>
  <% end %>
  <% ('A'..'Z').each do |letter|%>
  <%= link_to letter, ingredients_path({sign: letter}), class: 'ingredients-filter-letter' %>
  <% end %>
</div>

<h2 class="ingredients">Ingredients sorted by funtion</h2>

<div class="row">
  <% @functions.each do |f| %>
    <div class="col-md-4">
      <%= link_to f.name, ingredients_path({function: f.id}) %>
      <span class="badge badge-primary badge-pill"> <%= f.ingredients.count %> </span>
    </div>
  <% end %>
</div>

<% if filter_param %>
  <div class="ingredients" id="functiondescription">
    <% if function_filter_param %>
      <h2>Function: <%= @function.name %></h2>
      <h2>Desctiption: <%= @function.description %></h2>
    <% end %>
  </div>
  <div class="text-center" id="ingredientsSection">
    <%= paginate @ingredients, :params => { anchor: "ingredientsSection"}, theme: 'twitter-bootstrap-3' %></div>
  <% @ingredients.each do |ingr| %>
    <div class="col-md-6">
      <p class="one-ingredient">
        <%= ingr.name %><%= "*" if allergen?(ingr) %> <%= link_to ">", ingredient_path(ingr) %>
      </p>
    </div>
  <% end %>
<% end %>
