<h2>Ingredient name:</h2>

<p><%= @ingredient.name %></p>

<h2>Ingredient functions:</h2>

<% @ingredient.ingredient_functions.each do |f| %>
  <p> <%= f.name %> </p>
<% end %>

<%= link_to "Show product with this ingredient", ingredient_products_path(@ingredient) %>
<%= link_to "Edit", edit_ingredient_path(@ingredient) %>
<%= link_to "Delete", ingredient_path(@ingredient),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }%>
