<% breadcrumb :ingredient, @ingredient %>

<div class="row">
  <div class="col-md-12">
    <h4><%= @ingredient.name %></h4>
  </div>
</div>

<% if allergen?(@ingredient) %>
  <div class="row">
    <div class="col-md-12">
      <h5>This ingredient can cause allergies.</h5>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h5><%= show_ingredient_functions(@ingredient) %></h5>
  </div>
</div>

<%= link_to "Show product with this ingredient", ingredient_products_path(@ingredient) %>
<%= link_to "Edit", [:edit, @ingredient], class: 'btn btn-success' %>
<%= link_to "Delete", [@ingredient],
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-danger' %>
