<% breadcrumb :brands %>
<div class="row">
  <div class="col-md-12 additional-space">
    <%= form_tag brands_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Search for brand' %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if params[:search] %>
  <div class="row">
    <div class="col-md-12 additional-space custom-border-bottom">
      <% @search_brands.each do |brand| %>
        <div class="col-md-3">
          <%= link_to brand.name, brand_path(brand) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="additional-space">
    <div class="col-md-12">
      <%= "Popular brands" %>
    </div>
    <% popular_brands.each do |brand| %>
      <div class="col-md-3">
        <%= link_to brand.name, brand_path(brand) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row"><div class="vertical-line"></div></div>

<div class="row">
  <div class="additional-space">
    <div class="col-md-12">
      <%= "0" %>
    </div>
    <% find_brands_with_first_sign_num.each do |brand| %>
      <div class="col-md-3">
        <%= link_to brand.name, brand_path(brand) %>
      </div>
    <% end %>
  </div>
</div>

<% ("A".."Z").each do |letter| %>
  <div class="row">
    <div class="additional-space">
      <div class="col-md-12">
        <%= letter %>
      </div>
      <% find_sorted_brands(letter).each do |brand| %>
        <div class="col-md-3">
          <%= link_to brand.name, brand_path(brand) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Add new brand", new_brand_path, class: "btn btn-info pull-right additional-space" %>
  </div>
</div>
