<% breadcrumb :brands %>
<div class="row">
  <div class="col-md-12 additional-space">
    <%= form_tag brands_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :search, nil, class: 'form-control', placeholder: 'Search for brand' %>
        <span class="input-group-btn">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<% if params[:search] %>
  <% breadcrumb :search_for_brand, params[:search] %>
  <div class="row">
    <div class="col-md-12 additional-space custom-border-bottom">
      <% if @search_brands.empty? %>
        <p>No results</p>
      <% else %>
        <% @search_brands.each do |brand| %>
          <div class="col-md-3">
            <%= link_to brand.name, brand_path(brand) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="additional-space">
    <div class="col-md-12">
      <%= "Popular brands" %>
    </div>
    <% Brand.popular.each do |brand| %>
      <div class="col-md-3">
        <%= link_to brand.name, brand_path(brand) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row"><div class="vertical-line"></div></div>

<% brands_grouped_by_letter.each do |letter, brands| %>
  <div class="row">
    <div class="additional-space">
      <div class="col-md-12">
        <%= letter %>
      </div>
      <% brands.each do |brand| %>
        <div class="col-md-3">
          <%= link_to brand.name, brand_path(brand) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Add new brand", new_brand_path, class: "btn btn-info pull-right additional-space" %>
  </div>
</div>
