<%= simple_form_for [@brand, @subcategory, @product].compact do |f| %>
  <h3>General information</h3>
  <%= f.input :name %>
  <%= f.association :brand, as: :select %>
  <%= f.input :subcategory_id, label: "Category",
              collection: MainCategory.order(:id),
              as: :grouped_select,
              group_method: :subcategories %>
  <%= f.input :capacity %>
  <%= f.input :image, type: :file %>
  <%= f.input :ingredient_tokens, label: 'Ingredients (fill in if there are no sub-products)',
              input_html: { data: { load: @product.ingredients } }  %>
  <%= f.input :description %>

  <h3>Subproducts:</h3>
  <div id="sub_products">
    <%= f.simple_fields_for :sub_products, @product.sub_products do |sub_product| %>
      <%= render 'sub_product_fields', :f => sub_product %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add subproduct', f, :sub_products %>
    </div>
  </div>
  <%= f.button :submit %>
<% end %>
