<%= simple_form_for @product do |f| %>
  <div class="form-group">
    <%= f.input :name %>
    <%= render 'common/error_messages', object: @product, field_name: :name %>
  </div>
  <div class="form-group">
    <%= f.association :brand, as: :radio_buttons %><br/>
    <%= render 'common/error_messages', object: @product, field_name: :brand_tokens %>
  </div>
  <div class="form-group">
    <%= f.input :capacity %>
    <%= render 'common/error_messages', object: @product, field_name: :capacity %>
  </div>
  <div class="form-group">
    <%= f.input :ingredient_tokens, label: "Ingredients", input_html: { data: { load: @product.ingredients } }  %>
    <%= render 'common/error_messages', object: @product, field_name: :ingredient_tokens %>
  </div>
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
