<h3>In this product there are <%= count_ingredients(@product) %> ingredients. <%= how_many_allergens?(@product) %> are potential allergens.</h3>

<ol>
  <% if has_sub_products?(@product) %>
    <% @product.sub_products.each do |sub_product| %>
      <h5><%= sub_product.name %></h5>
      <% sub_product.ingredients.each do |ingr| %>
        <li><%= ingr.name %> <%= "*" if ingr.allergen == true %> | <%= ingredient_functions(ingr) %></li>
      <% end %>
    <% end %>
  <% else %>
    <% @product.ingredients.each do |ingr| %>
      <li><%= ingr.name %> <%= "*" if ingr.allergen == true %> | <%= ingredient_functions(ingr) %></li>
    <% end %>
  <% end %>
</ol>
