<div class="row">
  <div class="col-md-3">
    <%= image_tag(product.image_url(:thumb)) %>
  </div>
  <div class="col-md-7">
    <h5><%= show_categories(product) %></h5>
    <h3><%= product.name %></h3>
    <p class="justify"><%= product.description %></p>
  </div>
  <div class="col-md-2">
    <% if params[:subcategory_id] %>
      <%= link_to "See details", subcategory_product_path({id: product.id}), class: "btn btn-success pull-right" %>
    <% elsif params[:brand_id]%>
      <%= link_to "See details", brand_product_path({id: product.id}), class: "btn btn-success pull-right" %>
    <% else %>
      <%= link_to "See details", product_path(product), class: "btn btn-success pull-right" %>
    <% end %>
  </div>
</div>
<div class="row"><div class="vertical-line"></div></div>
