<% breadcrumb :product, @product %>


<div class="row product-main-information">
  <div class="col-md-3">
    <%= image_tag(@product.image_url(:thumb)) %>
  </div>
  <div class="col-md-7 product-name">
    <h4><%= @product.brand.name %></h4>
    <h3><%= @product.name %></h3>
    <h5><%= show_categories(@product) %></h5>
  </div>
  <div class="col-md-2">
    <h6>Added by: <%= show_author(@product) %></h6>
    <% if author?(@product) %>
      <%= link_to "Edit", [:edit, @brand, @subcategory, @product].compact, class: "btn btn-success" %>
      <%= link_to "Delete", [@brand, @subcategory, @product].compact, method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="fb-like additional-space" data-href="<%= url_for([@brand, @product]) %>"
    data-layout="standard" data-action="like" data-size="large"
    data-show-faces="true" data-share="true">
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#productDescription">Description</a></li>
      <li><a data-toggle="tab" href="#productIngredients">Ingredients</a></li>
      <li><a data-toggle="tab" href="#productIngredientAnalysis">Ingredient analysis</a></li>
      <li><a data-toggle="tab" href="#productMore">More</a></li>
    </ul>

    <div class="tab-content">
      <div id="productDescription" class="tab-pane fade in active">
        <p class="justify"><%= @product.description %></p>
      </div>
      <div id="productIngredients" class="tab-pane fade">
        <% if has_sub_products?(@product) %>
          <% @product.sub_products.each do |sub_product| %>
            <h5><%= sub_product.name %></h5>
            <p><%= product_ingredients(sub_product) %></p>
          <% end %>
        <% else %>
          <p><%= product_ingredients(@product) %></p>
        <% end %>
      </div>
      <div id="productIngredientAnalysis" class="tab-pane fade">
        <%= render 'products/ingredient_analysis' %>
      </div>
      <div id="productMore" class="tab-pane fade">
        <p>Waiting for more information.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% @product.opinions.each do |opinion| %>
      <%= render opinion %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if current_user.user_has_opinion(@product) %>
      <h5 class="text-center">Your opinion:</h5>
      <%= render current_user_opinion(@product) %>
    <% elsif current_user %>
      <%= render 'opinions/form' %>
    <% else %>
      <h5 class="text-center">If you want to add an opinion, you have to be logged in</h5>
    <% end %>
  </div>
</div>
