<div class="row product-main-information">
  <div class="col-md-3">
    <%= image_tag(@product.image_url(:thumb)) %>
  </div>
  <div class="col-md-7 product-name">
    <h4><%= show_categories(@product) %></h4>
    <h1><%= @product.name %></h1>
    <h2><%= @product.brand.name %></h2>
    <h4>Added by: <%= show_author(@product) %></h4>
  </div>
  <div class="col-md-2 product-description">
    <% if author?(@product) %>
      <%= link_to "Edit", edit_product_path(@product), class: "btn btn-success" %>
      <%= link_to "Delete", product_path(@product), method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#productDescription">Description</a></li>
      <li><a data-toggle="tab" href="#productIngredients">Ingredients</a></li>
      <li><a data-toggle="tab" href="#productIngredientAnalysis">Ingredient analysis</a></li>
      <li><a data-toggle="tab" href="#productMore">More</a></li>
    </ul>

    <div class="tab-content">
      <div id="productDescription" class="tab-pane fade in active">
        <p class="justify"><%= @product.description %></p>
      </div>
      <div id="productIngredients" class="tab-pane fade">
        <p><%= product_ingredients(@product) %></p>
      </div>
      <div id="productIngredientAnalysis" class="tab-pane fade">
        <%= render 'ingredient_analysis' %>
      </div>
      <div id="productMore" class="tab-pane fade">
        <p>Waiting for more information.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% @product.opinions.each do |opinion| %>
      <%= render opinion %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render 'opinions/form' %>
  </div>
</div>
