<!DOCTYPE html>
<html>
  <head>
    <title>Beautyworld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <div class="nav-bar">
    <%= link_to "Home", root_path %>
    <%= link_to "Ingredients", ingredients_path %>
    <%= link_to "Products", products_path %>
  </div>
  <body>
    <div class="col-md-1"></div>

    <div class="col-md-10"><%= yield %></div>
    <div class="col-md-1"></div>
  </body>
</html>
