<!DOCTYPE html>
<html>
  <head>
    <title>Beautyworld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'common/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"><%= render 'common/flash_messages' %></div>
      </div>
      <div class="row">
        <div class="col-md-12"><%= breadcrumbs style: :bootstrap %></div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
