<!DOCTYPE html>
<html>
  <head>
    <title>Beautyworld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.12';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= render 'common/navbar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"><%= render 'common/flash_messages' %></div>
      </div>
      <div class="row">
        <div class="col-md-12"><%= breadcrumbs style: :bootstrap %></div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
